main {
    width: 100%;
    height: 1100px;
    display: var(--flex);
    justify-content: var(--center);
    padding-bottom: 1300px;
}

main .container-fotos {
    width: 100%;
    height: 100%;
    margin-top: 65px;
    display: var(--flex);
    justify-content: var(--espaço-igual);
    align-items: var(--center);
    flex-wrap: wrap;
}

main .container-fotos .title {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.0);
    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--center);
    font-family: 'Livvic', sans-serif;
    font-size: 35pt;
    color: #3F3F3F;
    padding: 30px;
}

main .container-fotos .foto {
    width: 400px;
    height: 400px;
    flex-wrap: wrap;
    display: var(--flex);
    justify-content: var(--espaço-entre);
    align-items: var(--center);
    margin-top: 20px;
    /*background-color: red;*/
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    background-position: var(--center);
    background-size: cover;
}

#foto1 {
    background-image: url("../../img/FOTOS/FOTO1.jpg");
}