main {
    width: 100%;
    height: 1800px;
    display: var(--flex);
    justify-content: var(--center);
}

main .container-contato {
    width: 90%;
    height: 100%;
    margin-top: 65px;
    background-color: blue;
}

main .container-contato .title {
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.0);
    display: var(--flex);
    justify-content: var(--flex-start);
    align-items: var(--center);
    font-family: 'Livvic', sans-serif;
    font-size: 35pt;
    color: #3F3F3F;
    padding: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}